/* ======================================== */
/* ======================================== */
/* type declarations */
/* ======================================== */
/* ======================================== */
@font-face {
  font-family: 'Orator';
  src: url('ff/oratorstd.eot');
  src: url('ff/oratorstd.eot') format('embedded-opentype'),
       url('ff/oratorstd.woff') format('woff'),
       url('ff/oratorstd.ttf') format('truetype'),
       url('ff/oratorstd.svg#OratorStdMedium') format('svg');
}

html {
  color: #444;
  min-height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Helvetica Neue", Helvetica, Calibri, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;
  color: #444;
}
header h1 {
  font-size: 2em;
}
.not-bold {font-weight: normal !important; }
.slide h3 { line-height: 30px; }
a.no-style {
  color: inherit;
  text-decoration: none;
}
a.no-style:hover {
  text-decoration: none;
  border-bottom: 2px solid;
}
span.light, h3 span.light {font-weight: 400 !important;}

html body .orator,
html body span.orator {
  font-family: 'Orator', Consolas, 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-weight: normal;
}

/* end type declarations */

/* ======================================== */
/* ======================================== */
/* main layout */
/* ======================================== */
/* ======================================== */
.add-top    { margin-top:    40px; }
.add-bottom { margin-bottom: 40px; }
.no-top     { margin-top:    0 !important;}
.no-bottom  { margin-bottom: 0 !important;}

html, body {
  margin: 0; 
  padding: 0;
}
header {
  background: white;
  padding: 1em 0;
  }
header h1 {
  margin: 0;
  padding: 0;
}
header h1 span,
.jumbo span {
  color: #588BA1;
}
article section {
  margin-bottom: 400px;
  padding-top: 20px;
}

footer {
  margin-top: 200px;
  margin-bottom: 40px;
}

/* ======================================== */
/* ======================================== */
/* nav styles */
/* ======================================== */
/* ======================================== */
#menu h1 a, #menu h1 a:hover {text-decoration: none;}
.nav-pills {
  margin-top: 4px;
  margin-bottom: 0;
}
.nav-pills > li > a {
  color: #588BA1;
  margin-right: 4px;
}
.nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus {
  background: #588BA1;
}

@media (min-width: 980px) {
  header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 99999;
  }
  article section {
    margin-bottom: 400px;
    padding-top: 100px;
  }

}

/*Page down link*/ 
.pagedown {
  background: none;
  border: none;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
}

.pagedown a {
  background: none;
  border: none;
  color: #588BA1;
  display: block;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
  text-decoration: none;
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

.pagedown a:hover {
  border: none;
  color: #A6DA90;
  text-decoration: none;
}

/* end nav styles */

/* ======================================== */
/* ======================================== */
/* SLIDESHOW AND RELATED */
/* ======================================== */
/* ======================================== */
.columnss { position: relative; cursor: pointer; }
.slide {display: none;}
.slide:first-child {display: block;}
.slide img { 
  padding: 0; 
  display: block;
}
.columnss img { width: 300px; }
.cycle-slideshow .slide img:first-child {
  position: static; z-index: 100;
}
a.invsbl, a.invsbl:hover {
  text-decoration: none !important;
}

/* pager */
.minipostit-pager { 
  overflow: hidden;
  position: relative;
  text-align: center; 
  height:30px;
  margin-top: 20px;
  z-index: 500;
}

.minipostit-pager, .minipostit-pager > * { cursor: pointer;}

.minipostit-pager span {
  cursor: pointer; 
  display: inline-block; 
  height: 30px; 
  width: 30px; 
  overflow: hidden;
  text-indent: -9999999px;
  margin: 0 4px;
}

.minipostit-pager span.cycle-pager-active {
  background: #444;
}

/* ======================================== */

.postit {
  padding: 20px;
  margin: -10px -10px 10px -10px;
  color: #444;
}

.yellowbg, .minipostit { background-color: #EFEFBF; }
.purplebg, .slide2     { background-color: #E4CCE6; }
.bluebg, .slide3       { background-color: #B3D9FE; }
.greenbg, .slide4      { background-color: #A6DA90; }

.bottomalign {
  vertical-align: bottom;
  display: table-cell;
  font-weight: bold;
  }

p.indent { padding: 10px; }
p.intro  { padding: 10px 19px; font-size: 18px; margin-top: 20px;}
.columnss .lead {
  height: 260px;
}
.toprow    { margin-bottom: 20px;}

.outdent {
  margin-left: 0;
}

img.canvas { 
  height: auto;
  width: 300px;
  margin-top:30px;
}

@media (min-width: 1140px) {
  .toprow.sizeadjust {
    margin-left: -100px;
    width: 1140px;
  }
  img.canvas { 
    height: 300px;
    width: auto;
    margin-top:0;
  }
  img.unfold {
    margin: 0;
  }
}

/* ======================================== */
/* ======================================== */
/* IN BETWEEN SECTIONS */
/* ======================================== */
/* ======================================== */
#dhashc h1 {
  font-size: 100px;
  padding: 60px 0;
}

#dhashc p.lead {
  font-size: 32px;
}

/* ======================================== */
/* ======================================== */
/* EMAIL CAPTURE AT END */
/* ======================================== */
/* ======================================== */
#stayinformed.jumbo h1 {
  font-size: 4em;
  margin-bottom: 1em;
}

#stayinformed.jumbo p {
  font-size: 200%;
  line-height: 1.25;
  margin: .66em 0;
}

/* ======================================== */
/* ======================================== */
/* ======================================== */
/* ======================================== */

